<include file="Base/head"/>

</head>


<style>
body{
    margin-top:100px !important;
}
._item{
    height: 500px;
}

._cover{
    width: 200px;
    height: 300px;
}
._btn_group{
        width: 60%;
        margin: 0 auto;
}

</style>

<body>

    <include file = "Base/navbar" />
    <div class="container" style="margin-bottom:100px">

        <h1 class="text-center">Your Publication</h1>
        <hr>
        <h2 class="text-success">Approved</h2>
        <hr>
        <div class="row">

                <volist name="events_App" id="vo">

                        <div class="_item col-lg-4">
                                <div class="panel panel-success">
                                        <div class="panel-heading">
                                                <h3 class="text-center panel-title">{$vo.show_name}</h3>
                                        </div>
                                        <div class="panel-body">
                                                <img class="center-block _cover img-rounded" src="__PHOTO__/{$vo.show_cover}" alt="">
                                                <!-- <p style="margin-top:10px" class="text-center">Publish Date: <span class="text-danger">{$vo.show-}</span></p> -->
                                                <p style="margin-top:10px" class="text-center">Event Date: <span class="text-danger">{$vo.show_time}</span></p>
                                                <div class="_btn_group">
                                                        <p style="margin-top:10px;" class="pull-left">
                                                                <a href="{:U('ViewItem/detail')}?id={$vo.id}" class="text-center btn btn-success" role="button">
                                                                Detail
                                                                </a> 
                                                        </p>
                                                        <p  style="margin-top:10px" class="pull-right">
                                                                <a href="{:U('Publish/adjust')}?id={$vo.id}" class="text-center btn btn-info" role="button">
                                                                Adjust
                                                                </a> 
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                        </div>


                </volist>

        </div>

    
         <h2 class="text-primary">Under Reviewing</h2>
         <hr>
         <div class="row">

        <volist name="events_Und" id="vo">

                <div class="_item col-lg-4">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h3 class="text-center panel-title">{$vo.show_name}</h3>
                                </div>
                                <div class="panel-body">
                                        <img class="center-block _cover img-rounded" src="__PHOTO__/{$vo.show_cover}" alt="">
                                        <!-- <p style="margin-top:10px" class="text-center">Publish Date: <span class="text-danger">{$vo.show-}</span></p> -->
                                        <p style="margin-top:10px" class="text-center">Event Date: <span class="text-danger">{$vo.show_time}</span></p>
                                        <p  style="margin-top:10px" class="pull-right">
                                                <a href="{:U('Publish/adjust')}?id={$vo.id}" class="text-center btn btn-info" role="button">
                                                Adjust
                                                </a> 
                                        </p>
                                </div>
                        </div>
                        </div>


        </volist>
        </div>





        <h2>Not Approved</h2>
        <hr>
        <div class="row">

        <volist name="events_NotApp" id="vo">

                <div class="_item col-lg-4">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h3 class="text-center panel-title">{$vo.show_name}</h3>
                                </div>
                                <div class="panel-body">
                                        <img class="center-block _cover img-rounded" src="__PHOTO__/{$vo.show_cover}" alt="">
                                        <!-- <p style="margin-top:10px" class="text-center">Publish Date: <span class="text-danger">{$vo.show-}</span></p> -->
                                        <p style="margin-top:10px" class="text-center">Event Date: <span class="text-danger">{$vo.show_time}</span></p>
                                        <p  style="margin-top:10px" class="text-center">
                                        </p>
                                </div>
                        </div>
                    </div>


        </volist>
        </div>




        <!-- <div class="col-lg-3">
                <div class="panel panel-success">
                        <div class="panel-heading">
                                <h3 class="text-center panel-title">江小白“新大陆”</h3>
                        </div>
                        <div class="panel-body">
                                <img class="center-block _cover img-rounded" src="__PHOTO__/1.png" alt="">
                                <p  style="margin-top:10px" class="text-center">
                                <a href="{:U('detail')}" class="btn btn-success" role="button">
                                        查看详情
                                </a> 
                                </p>
                        </div>
                </div>
            </div> -->

    </div>

    </body>
</html>