<include file="Base/head" />

<style>

.my_login{

    margin-top: 200px;
    width: 30%;    
    min-height: 650px;


}
.my_login_group{
    margin: 0 auto !important;  
    width: 30%;
   
}

</style>


</head>

<body>
    <include file="Base/navbar" />

    <div class="container my_login">
        <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="firstname" class="control-label">UserName: </label>
                    <input type="text" class="form-control" id="firstname" name = "username">
                </div>
                <div class="form-group">
                    <label for="lastname" class="control-label">PassWord: </label>
                    <input type="password" class="form-control" id="lastname" name = "password">
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                        <input type="checkbox">remember me
                        </label>
                    </div>
                    </div>
                </div>
            </form>
                <div class="form-group my_login_group">
                    <div class="col-sm-2 col-sm-10">
                    <button type="submit" id='login_submit' class="btn btn-default">Login</button>
                    </div>
                </div>


        </div>
<include file="Base/foot" />

</body>


<script>

    $(document).ready(function(){
        

        $("#login_submit").click(function(){
            $(this).attr('disabled','disabled')
            $.post(
                "{:U('User/Login')}",
                {
                    'username' : $("#firstname").val(),
                    'password' : $("#lastname").val()
                },
                function(res){
                    // console.log(res)s    
                    res = JSON.parse(res);
                    if(!res.error){
                        // success 
                        // store into cookies
                        C_set_user_cookies(res['data']);
                        layer.alert(res.msg, {skin: 'layui-layer-lan', title :'UOW BOOKING'},
                            function(){
                                //关闭登陆model
                                self.location = "{:U('ViewItem/index')}"
                            }
                        );
                        
                    }else{
                        layer.alert(res.msg, {skin: 'layui-layer-lan', title :'UOW BOOKING'})
                    }
                    $('#login_submit').removeAttr('disabled')
                },
                );

        })


    })




</script>







</html>
