<aside class="lyear-layout-sidebar">
      
        <!-- logo -->
        <div id="logo" class="sidebar-header">
          <a href="{:U('Index/index')}"><img src="__BRAND__/uow_4.png" title="LightYear" alt="LightYear" /></a>
        </div>
        <div class="lyear-layout-sidebar-scroll"> 
          
          <nav class="sidebar-main">
            <ul class="nav nav-drawer">
              <li class="nav-item active"> <a href="{:U('Index/index')}"><i class="mdi mdi-home"></i>Super User's Home</a> </li>
              <li class="nav-item nav-item-has-subnav">
  
                  <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>Event</a>
                  <ul class="nav nav-subnav">
                      <li><a href="{:U('Index/event_tabel')}">Event Management</a></li>
                  </ul>
              </li>


              <li class="nav-item nav-item-has-subnav">
                <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i>User</a>
                <ul class="nav nav-subnav">
                  <li> <a href="{:U('Index/user_tabel')}">User Management</a> </li>
                </ul>
              </li>

            </ul>
          </nav>
          
          <div class="sidebar-footer">
            <p class="copyright">Copyright &copy; 2019</p>
            <p>Zhou Fang | James | Sachin | Xiang</p>
            <p>All rights reserved.</p>
          </div>
        </div>
        
      </aside>