

<!DOCTYPE html>

<html lang="en" class="no-js">



    <head>



        <meta charset="utf-8">

        <title>UOW EVENTS BOOKING</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="">

        <meta name="author" content="">



        <!-- CSS -->

        <link rel="stylesheet" href="__Admin__/LogIn/css/reset.css">

        <link rel="stylesheet" href="__Admin__/LogIn/css/supersized.css">

        <link rel="stylesheet" href="__Admin__/LogIn/css/style.css">



        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

        <!--[if lt IE 9]>

            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

        <![endif]-->



    </head>



    <body>



        <div class="page-container">

            <h1>UOW EVENTS BOOKING SYSTEM</h1>
            <h3>Super User Entry</h3>

            <form>
                <input type="text" name="username" class="username" placeholder="Username">

                <input type="password" name="password" class="password" placeholder="Password">

                <div class="error"><span>+</span></div>
            </form>

            <button class="_submit" >Sign me in</button>

            <div class="connect">

                <p>Connect Us:</p>

                <p>

                    <a class="facebook" href="https://www.facebook.com/fang.zhou.169405"></a>

                    <a class="twitter" href=""></a>

                </p>

            </div>

        </div>

        <!-- Javascript -->

        <script src="__Admin__/LogIn/js/jquery-1.8.2.min.js"></script>

        <script src="__Admin__/LogIn/js/supersized.3.2.7.min.js"></script>

        <script src="__Admin__/LogIn/js/scripts.js"></script>

        <!-- common Js lib -->
        <script src="__JS__/Base/function.js"></script>
        <script src="__JS__/Base/jquery_cookie.js"></script>
        <!-- Layer Js -->
        <import type='js' file='Plugin/layer/layer' />

        <script>
        jQuery(function($){

            $.supersized({

                // Functionality
                slide_interval     : 4000,    // Length between transitions
                transition         : 1,    // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
                transition_speed   : 1000,    // Speed of transition
                performance        : 1,    // 0-Normal, 1-Hybrid speed/quality, 2-Optimizes image quality, 3-Optimizes transition speed // (Only works for Firefox/IE, not Webkit)

                // Size & Position
                min_width          : 0,    // Min width allowed (in pixels)
                min_height         : 0,    // Min height allowed (in pixels)
                vertical_center    : 1,    // Vertically center background
                horizontal_center  : 1,    // Horizontally center background
                fit_always         : 0,    // Image will never exceed browser width or height (Ignores min. dimensions)
                fit_portrait       : 1,    // Portrait images will not exceed browser height
                fit_landscape      : 0,    // Landscape images will not exceed browser width

                // Components
                slide_links        : 'blank',    // Individual links for each slide (Options: false, 'num', 'name', 'blank')
                slides             : [    // Slideshow Images
                                        {image : 'https://media.uow.edu.au/content/groups/public/@web/@media/documents/mm/uow196895.jpg'},
                                        {image : 'https://media.uow.edu.au/content/groups/public/@web/@media/documents/mm/uow196896.jpg'},
                                        {image : 'https://media.uow.edu.au/content/groups/public/@web/@media/documents/mm/uow196954.jpg'},
                                    ]

            });


            $("._submit").click(function(){
                var username = $(".username").val();
                var password = $(".password").val();

                if(!username || !password) {
                    alert("Require Field!")
                    return;
                }
                var index = layer.load(1, {
                    shade: [0.5,'#fff'] //0.1透明度的白色背景
                });
                $.post(
                    "{:U('Index/LogIn')}",
                    {
                        'username' : username,
                        'password' : password,
                    },

                    function(res){

                        res = JSON.parse(res);
                        if(!res.error){
                            C_set_user_cookies(res['data']);
                            self.location = "{:U('Index/index')}"

                        }else{
                            layer.close(index)
                            alert(res.msg)
                        }
                    }
                )



            })

    });
</script>

    </body>
</html>



